
body {
    font-family: "Comic Sans MS";
}

header {
    text-align: center;

}

#container {
    height: 600px;
    background-color: grey;
    margin: auto;
    width: 50%;
}

img {
    padding-top: 100px;
    padding-left: 25px;
}